<div class="footer-padding">
</div>
<footer id="footer">
    <div class="footer-section">
        <a class="nav-link logo" id="nav-logo" href="/">I'm Outdoorsy</a>
        <p>&#169 Eric Culley 2021</p>
    </div>
    <hr class="vertical">
    <div class="footer-section">
        <a id="footer-item" href="https://www.linkedin.com/in/ericculley" target="_blank">
            <img src="/linkedin-logo.png" alt="LinkedIn Logo">
        </a>
        <a id="footer-item" href="https://github.com/ericulley" target="_blank">
            <img src="/GitHub_Logo.png" alt="GitHub Logo">
        </a>
    </div>
</footer>
