<nav>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/acts/new">Log Activity</a>
    <a class="nav-link logo" id="nav-logo" href="/">I'm Outdoorsy</a>
    <a class="nav-link" href="/acts">My Activities</a>
    <div id="log-io" class="nav-link">
        <% if (currentUser) {
            %>
            <form action="/sessions?_method=DELETE" method="post">
                <button id="logout" type="submit">Log Out</button>
            </form>
            <%
        } else {
            %>
            <a href="/sessions">Log In</a> /
            <a href="/users/new">Sign Up</a>
            <%
        } %>
    </div>
</nav>
