<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>I'm Outdoorsy!</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Yellowtail&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <nav>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="#">Log Activity</a>
            <a class="nav-link logo" id="nav-logo" href="#">I'm Outdoorsy</a>
            <a class="nav-link" href="#">My Activities</a>
            <div id="log-io">
                <% if (false) {
                    %> <a class="nav-link" href="#">Log Out</a> <%
                } else {
                    %> <a href="nav-link">Log In</a> <%
                } %>
            </div>
        </nav>
        <header>
            <h1>Welcome to I'm Outdoorsy!</h1>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>
