<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Index</title>
    </head>
    <body>
        <nav>

        </nav>
        <header>
            <h1>Welcome to I'm Outdoorsy!</h1>
        </header>
        <main>
            <ul>
                <% for (let i = 0; i < acts.length; i++) {
                    %> <a href="acts/<%=acts[i]._id%>"><li><%=acts[i].name%></li></a> <%
                } %>
            </ul>
            <a href="/acts/new">
                <button type="button">Log New Activity</button>
            </a>
        </main>
        <footer>

        </footer>
    </body>
</html>
