<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Log New Activity</title>
    </head>
    <body>
        <nav>

        </nav>
        <header>
            <h1>Log New Activity</h1>
        </header>
        <main>
            <form action="/acts" method="post">
                <!-- Name -->
                <label for="new-name">Name:</label>
                <input id="new-name" type="text" name="name">
                <br/>
                <!-- Type -->
                <label for="new-type">Type:</label>
                <input id="new-type" type="text" name="type">
                <br/>
                <!-- Date -->
                <label for="new-date">Date:</label>
                <input id="new-date" type="text" name="date">
                <br/>
                <!-- Hours -->
                <label for="new-hours">Hours:</label>
                <input id="new-hours" type="text" name="hours">
                <br/>
                <!-- Length -->
                <label for="new-length">Length:</label>
                <input id="new-length" type="text" name="length">
                <br/>
                <!-- Location -->
                <label for="new-location">Location:</label>
                <input id="new-location" type="text" name="location">
                <br/>
                <!-- Description -->
                <label for="new-description">Description:</label>
                <input id="new-description" type="text" name="description">
                <br/>
                <!-- Image -->
                <label for="new-img">Image:</label>
                <input id="new-img" type="text" name="img">
                <br/>
                <!-- Rating -->
                <label for="new-rating">Rating:</label>
                <input id="new-rating" type="text" name="rating">
                <br/>
                <button type="submit">Submit New Activity</button>
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>
