<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Bad Password</title>
        <%- include('../partials/style_links.ejs') %>
    </head>
    <body>
        <%- include('../partials/nav_bar.ejs') %>
        <header>
            <h1>Incorrect Password</h1>
        </header>
        <main>
            <form class="container bad" action="/sessions" method="GET">
                <fieldset id="new-session-box">
                    <label for="username-input">Sorry, that password didn't match the username.</label>
                </fieldset>
                <button type="submit">Try Again</button>
            </form>
        </main>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>
