<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Log In</title>
        <%- include('../partials/style_links.ejs') %>
    </head>
    <body>
        <%- include('../partials/nav_bar.ejs') %>
        <header>
            <h1>Successfully Logged Out</h1>
        </header>
        <main>
            <form class="container bad">
                <fieldset id="new-session-box">
                    <label>Now go get outside!</label>
                </fieldset>
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>
