<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Log In</title>
        <%- include('../partials/style_links.ejs') %>
    </head>
    <body>
        <%- include('../partials/nav_bar.ejs') %>
        <header>
            <h1>Log In</h1>
        </header>
        <main>
            <form class="container" action="/sessions" method="POST">
                <fieldset id="new-session-box">
                    <label for="username-input">Username: </label>
                    <input id="username-input" type="text" name="username">
                    <label for="password-input">Password: </label>
                    <input id="password-input" type="password" name="password">
                </fieldset>
                <button type="submit">Log In</button>
            </form>
        </main>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>
