<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>

        </nav>
        <header>
            <h1>Create New User</h1>
        </header>
        <main>
            <form action="/users" method="POST">
                <label for="new-username">New Username: </label>
                <input id="new-username" type="text" name="username">
                <label for="new-password">New Password: </label>
                <input id="new-password" type="password" name="password">
                <button type="submit">Create</button>
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>
