<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Sign Up!</title>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Yellowtail&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link logo" id="nav-logo" href="/">I'm Outdoorsy</a>
            <a class="nav-link" href="/sessions">Log In</a>
        </nav>
        <header>
            <h1>Create New User</h1>
        </header>
        <main>
            <form class="act-container" action="/users" method="POST">
                <label for="new-name">First Name: </label>
                <input id="new-name" type="text" name="name">
                <label for="new-username">New Username: </label>
                <input id="new-username" type="text" name="username">
                <label for="new-password">New Password: </label>
                <input id="new-password" type="password" name="password">
                <button type="submit">Create</button>
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>
